[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/budparr/gohugo-theme-ananke.git
[submodule "themes/minimal"]
	path = themes/minimal
	url = https://github.com/calintat/minimal.git
[submodule "pascalschulz.github.io"]
	path = pascalschulz.github.io
	url = https://github.com/pascalschulz/pascalschulz.github.io.git
